{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="css/main.css">
{% endblock %}

{% block body %}
<a href="/">Home</a><br>
{% endblock %}

{% block content%} 
<link rel="stylesheet" href="/static/css/main.css">
<h2>Dribbling</h2>
<img src="/static/images/dribble.jpg" alt="dribble" >
<h2> Dribbling exercise to do <a href = "/course">(exercises)</a> </h2>
<p> a dribble is one of the most difficult ball skills to master and one of the most useful attacking moves. In typical game play, players attempt to propel the ball toward their opponents' goal through individual control of the ball, such as by dribbling (the usage of technical maneuvers). In order to go past an opponent, dribbling can involve a wide variety of manipulative tricks and feints</p>

{% endblock %}