{% extends 'layout.html' %}

{% block head %}
<!doctype html>

 
{% endblock %}

{% block body %}
{% endblock %}
{% block content%} 
<link rel="stylesheet" href="/static/css/main.css">

<h2>Football</h2>
<img src="/static/images/Football.jpg" alt="footy">
<p>Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal.<br><br>
    Football has 3 fundamental skills needed to be able to play well. Passing, Dribbling and most importantly shooting. These skills are important as they are what you need to be able to play the game as smooth as possible and all extra skills are just add ons to these and here I will give you drills to improve these skills suited to all skill levels.
</p>

{% endblock %}