<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
   
        </div>    
        </nav>    
    {% block body %}{% endblock %}
</body>
</html> 
-->


<!DOCTYPE html>
<html>
    <head>
        <title> {{title}}</title>
        <link rel="icon" type="image/x-icon" href="/static/imagesball.jpg">
        <link rel="stylesheet" href = "/static/css/style.css">
    </head>
    <body>
        
        <header>
            {% include 'header.html' %}
        </header>
        <nav>
            {% include 'nav.html' %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include 'footer.html' %}
        </footer>
    </body>
</html>