<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>
<body>
    <nav> {# Navbar #}
        <a href="/">Home</a>
        <a href="/dribbling">Dribbling</a>
        <a href="/shooting">Shooting</a>
        <a href="/passing">Passing</a>
        <a href="/course">Course</a>
        <a href="/contact">Contact us</a> 

    </nav>
</body>
</html>




